.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: #e3e3e3;
  background: #363636;
  font-size: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  min-width: 3.5rem;
  border: none;
  outline: none;
  font-size: 2rem;
  border-radius: 0.2rem;
  margin: 0.5rem;
  background: #505050;
  color: #e3e3e3;
}
